argon2-cffi
async-generator==1.10
attrs
backcall==0.2.0
beautifulsoup4==4.9.3
bleach
bs4==0.0.1
census==0.8.17
certifi==2020.12.5
cffi
chardet==3.0.4
citipy==0.0.5
click
colorama
configparser==5.0.1
crayons==0.4.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
et-xmlfile==1.0.1
Flask
Flask-MySQL==1.5.2
Flask-PyMongo==2.3.0
fuzzywuzzy
geojson==2.5.0
gmaps==0.9.0
gunicorn==20.1.0
idna==2.10
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous
jdcal==1.4.1
jedi
jellyfish==0.6.1
Jinja2==2.11.2
joblib
jsonschema
jupyter-client
jupyter-core==4.6.3
jupyterlab-pygments
jupyterlab-widgets==1.0.0
kaggle==1.5.10
kdtree==0.16
kiwisolver
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib
mistune==0.8.4
mysqlclient==2.0.3
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
olefile
openpyxl
packaging==20.4
panda==0.3.1
pandas
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
Pillow
prometheus-client==0.8.0
prompt-toolkit
psycopg2==2.8.6
pycparser
Pygments
pymongo==3.11.2
PyMySQL==1.0.2
pyparsing==2.4.7
PyQt5
PyQt5-sip
PyQtChart
PyQtWebEngine
pyrsistent
python-dateutil==2.8.1
python-Levenshtein
python-slugify==4.0.1
pytz
pywin32
pywinpty
pyzmq
requests
scikit-learn
scipy
selenium
Send2Trash
six
soupsieve
splinter
SQLAlchemy
terminado
testpath
text-unidecode
threadpoolctl
tornado
tqdm
traitlets
urllib3
us
wcwidth
webdriver-manager
webencodings
Werkzeug
widgetsnbextension
wincertstore
zipp
