a.badge {
    margin-left: 2px;
}


a.badge.active {
    border-color:white;
    border-width: 1px;
}

.bar {
    fill: orange;
  }
  
  .bar:hover {
    fill: green;
  }

.bartext {
    font-size: smaller;
    fill: "red";
}