a.badge {
    margin-left: 2px;
}


a.badge.active {
    border-color:white;
    border-width: 1px;
}

.bar {
    fill: orange;
  }
  
.bar:hover {
    fill: green;
}

.bartext {
    font-size: smaller;
    fill: "red";
}

.datacircle {
  fill: orange;
}

.datacircle:hover {
  fill: green;
}

#map {
  height: 100%;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.btn .btn-sm .btn-success {
  font:small;
  font-weight:bolder;
  /* color:"silver"; */
  /* "blue", */
  /* "black", */
  /* "red", */
  /* "grey", */
  /* "green", */
  /* "gold", */
  /* "yellow", */
  /* "aqua", */
  /* "orange" */
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
}